accelerate
aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
async-timeout
attrs
autopep8
blessed
certifi
charset-normalizer
click
cloudpickle
cmake
contourpy
csv-logger
cycler
datasets~=4.0.0
dill
diskcache
distro
docker-pycreds
docstring_parser
editdistance~=0.8.1
einops
evaluate~=0.4.5
exceptiongroup
fastapi
filelock
fire
fonttools
frozenlist
fsspec
gitdb
GitPython
h11
httpcore
httptools
httpx
huggingface-hub
idna
interegular
Jinja2
jiter
joblib
jsonschema
jsonschema-specifications
kiwisolver
lark
llvmlite
lm-format-enforcer
MarkupSafe
matplotlib
mpmath
msgpack
multidict
multiprocess
mypy-extensions
nest-asyncio
networkx
ninja
numba
numpy~=1.26.4
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-ml-py
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
openai
outlines
packaging
pandas~=2.3.1
peft~=0.16.0
pillow
platformdirs
prometheus-fastapi-instrumentator
prometheus_client
protobuf
psutil
py-cpuinfo
pyairports
pyarrow
pycodestyle
pycountry
pydantic
pydantic_core
pyparsing
python-dateutil
python-dotenv
pytz
PyYAML
pyzmq
ray
referencing
regex
requests
rpds-py
safetensors
scikit-learn
scipy
sentence-transformers~=5.0.0
sentencepiece
sentry-sdk
setproctitle
six
smmap
sniffio
starlette
sympy
termcolor
threadpoolctl
tiktoken
tokenizers
tomli
torch~=2.4.0
torch-ema
torchvision
tqdm~=4.67.1
transformers~=4.53.2
triton
typed-argument-parser
typing-inspect
typing_extensions
tzdata
urllib3
uvicorn
uvloop
vllm~=0.6.3.post1
vllm-flash-attn
wandb~=0.21.0
watchfiles
wcwidth
websockets
xformers
xxhash
yarl
mail-parser~=4.1.4